/* General Styling */

* {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(230,239,246);
}

.body-wrap {
    border: 1px solid rgba(193,193,193,1.00);
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(193,193,193,1.00);
}

.top-wrapper {
    width: 600px;
}

.bottom-wrapper {
    display: flex;
    border-radius: 8px;
}

.container-top {
padding: 0 30px 30px 30px;
background-color: white;
border: 1px solid #dde4f3;
box-shadow: 0 2px 6px 0 #f0f0f0;
border-radius: 8px 8px 0 0;
}

.container {
    width: 50%;
    padding: 30px;
}

.right-container {
    background-color: hsl(179, 62%, 43%);
    border-radius: 0 0 8px 0;
    color: #fff;
    line-height: 1.5;
    font-size: 14px;
    padding-top: 30px;
}

.left-container {
    background-color: hsl(179, 62%, 40%);
    color: #fff;
    border-radius: 0 0 0 8px;
}

.cyan-color {
    font-weight: 700;
    color: hsl(179, 62%, 43%)  
}

.bright-yellow-color {
    color: hsl(71, 73%, 54%);
    font-size: 15px;
}

.greyish-blue-color {
    font-size: 14px;
    color: hsl(218, 22%, 67%)
}

.month-text {
font-size: 14px;
color: hsl(204, 43%, 93%);
}

.dollar-sign {
    font-size: 24px;
    font-weight: 700;
}

h1 {
    visibility: hidden;
}

button {
    margin-top: 30px;
    background-color: hsl(71, 73%, 54%);
    color: #ffffff;
    border: none;
    width: 99%;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    border-color: hsl(71, 73%, 54%);
    box-shadow: 0 2px 6px 0 hsl(71, 13%, 59%);
    cursor: pointer;
}

button:hover {
    background-color: hsl(179, 62%, 43%);
    border: 1px solid #fff;
    color: white;
    border-radius: 4px;
    transition: .4s ease-out;
}

/* Mobile View Points*/

@media (max-width: 768px) {
    .top-wrapper {
        flex-direction: column;
        width: 80vw;
        max-height: 80vh;
    }

    .bottom-wrapper {
        flex-direction: column;
        width: 80vw;
        max-height: 80vh;
    }

    .container {
        width: auto;
    }

    .left-container {
        max-height: 250px;
        border-radius: 0 0 0 0;
    }

    .right-container {
        max-height: 250px;
        border-radius: 0 0 8px 8px;
    }

    button:hover {
        background-color: hsl(71, 73%, 54%);
        border-color: hsl(71, 73%, 54%);
        opacity: 1;
    }
     .body-wrap {
    padding: 30px;
    }
}

@media (max-width: 576px) {
    .top-wrapper {
        flex-direction: column;
        width: 80vw;
        max-height: 80vh;
    }

    .bottom-wrapper {
        width: 80vw;
        max-height: 80vh;
        border-radius: 0;
        flex-direction: column;
        margin: 0;
        border: none;
    }
    .container {
        width: auto;
    }

    .left-container {
        max-height: 250px;
        border-radius: 0 0 0 0;
    }

    .right-container {
        max-height: 250px;
        border-radius: 0 0 8px 8px;
    }

    button:hover {
        background-color: hsl(71, 73%, 54%);
        border-color: hsl(71, 73%, 54%);
        opacity: 1;
    }
     .body-wrap {
    padding: 30px;
    }
}

@media (max-width: 375px) {
    .top-wrapper {
        flex-direction: column;
        width: 80vw;
        max-height: 80vh;
    }

    .bottom-wrapper {
        width: 80vw;
        max-height: 80vh;
        border-radius: 0;
        flex-direction: column;
        margin: 0;
        border: none;
    }
    .container {
        width: auto;
    }

    .left-container {
        max-height: 250px;
        border-radius: 0 0 0 0;
    }

    .right-container {
        max-height: 250px;
        border-radius: 0 0 8px 8px;
    }

    button:hover {
        background-color: hsl(71, 73%, 54%);
        border-color: hsl(71, 73%, 54%);
        opacity: 1;
    }

}


